includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
    scanFiles:
        - stubs/xberg_extension.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    tmpDir: var/cache/phpstan
